@use '../../style.vars.scss' as *;

.buttonContainer{
    position: relative;
    width: 64px;
}

.button{
    width: 68px;
    height: 68px;
    background: none;
    border: none;
    padding: 2px;
}

.button img{
    width: inherit;
    height: inherit;
    margin-left: -2px;
    margin-top: -2px;
    /* color image to hex 00a4d6 using calculated filter values from https://codepen.io/sosuke/pen/Pjoqqp */
    -webkit-filter : invert(42%) sepia(99%) saturate(680%) hue-rotate(155deg) brightness(98%) contrast(101%);
    filter : invert(42%) sepia(99%) saturate(680%) hue-rotate(155deg) brightness(98%) contrast(101%);
    opacity: 0.5;
    transition: opacity .5s; 
}

.button img:hover{
    opacity: 0.9;
    cursor: pointer;
}

.button.locked img{
    /* color image to hex abb275 using calculated filter values from https://codepen.io/sosuke/pen/Pjoqqp */
    -webkit-filter : invert(76%) sepia(8%) saturate(1417%) hue-rotate(27deg) brightness(89%) contrast(92%);
    filter : invert(76%) sepia(8%) saturate(1417%) hue-rotate(27deg) brightness(89%) contrast(92%);
}

div.wrap {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}
  
div.wrap div {
    position: relative;
    margin: 50px 0;
}
  
label {
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 30px;
    margin: 8px;
    padding: 7px;
    background: none;
    -webkit-transition: top .2s ease-in-out, 
                          font-size .2s ease-in-out;
    transition: top .2s ease-in-out, 
                  font-size .2s ease-in-out;
    pointer-events: none;
    color: #666;
}
  
.active {
    top: -25px;
    font-size: 20px;
    background: $background-color;
    left: 12px;
    opacity: 1;
    color: $text-color;
}
  
.containerSingle {
    width: 358px;
    padding: 20px;
    border: none;
    background: none;
    font-size: 20px;
    border-radius: 1.5em;
    background: $background-color;
    position: relative;
} 
  
.containerSingle:focus {
    outline: none;
}

  
.containerMulti {
  width: 358px;
  padding: 20px;
  border: none;
  background: none;
  font-size: 20px;
  border-radius: 1.5em;
  background: $background-color;
  position: relative;
} 

.containerMulti:focus {
  outline: none;
}

.inputBoxBorder{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1px;
  left: -2px;
  top: -1px;
  border-radius: 1.5em;
  opacity: 0.6;
  background: #fff;
}

.textboxContainer{
    position: relative;
    margin-right: 24px;
    width: 400px;
}

.textBoxBorder{
    position: absolute;
    width: 100%;
    height: 98%;
    padding: 1px;
    left: -2px;
    top: -1px;
    border-radius: 1.3em;
    opacity: 0.6;
    background: #fff;
}

.textBoxActive{
  opacity: 0.6;
  background: $linear-rainbow-gradient border-box;
  padding: 2px;
  left: -3px;
  top: -2px;
}

.textareActive{
  opacity: 0.6;
  background: $linear-rainbow-gradient border-box;
  padding: 1px;
  padding-bottom: 2px;
  left: -2px;
  top: -2px;
}

textarea{
  overflow: auto;
	overflow-x: hidden;
  resize: none;
}

textarea::-webkit-scrollbar-track{
	background-color: #333;
}

textarea::-webkit-scrollbar{
	width: 0px;
	background-color: #333;
  box-shadow: 3px 0px 3px 4px rgba(0, 0, 0, 0.1);
}

textarea::-webkit-scrollbar-thumb{
	border-radius: 100px;
	background-color: rgba(182, 191, 255, 0.5);
}