$background-color: #222222;
$text-color: #DDD;
$linear-rainbow-gradient: linear-gradient(to left, rgb(255, 93, 93), rgb(255, 197, 71), rgb(255, 255, 128), rgb(72, 216, 72), rgb(93, 212, 172), rgb(77, 211, 255), rgb(255, 117, 225));